#header1 {
    text-align: center;
    color:rosybrown;
}

#kitten1 {
    color: rgb(92, 197, 89);
    text-align: center;
}
#kitten {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}
#footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}